body{
    background-color: rgb(234, 98, 98);
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}
a{
    color: rgb(35, 232, 21);
}
hr{
    border: 1px solid rgb(67, 21, 232);
    margin: 20px 0;
}
button{
    background-color: rgb(21, 232, 21);
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    background-color: rgb(234, 98, 98);
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(10, 10, 10);
    border-radius: 10px; 
}

.num{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    background-color: rgb(234, 98, 98);
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;

}
.num div{
    display: flex;
    flex-shrink:3 ;
}